:root {
    --cor-da-borda: rgb(17, 16, 16);
    --cor-de-fundo: rgb(230, 232, 236);
}

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background-color: var(--cor-de-fundo);
}

.cabecalho {
    border-bottom: solid 1px var(--cor-da-borda);
    padding: 35px;
}

/*Card*/
.card {
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    border: solid 1px var(--cor-da-borda);
    border-radius: 10px;
    padding: 30px;
}

.msg-codificada {
    background-color: rgb(167, 166, 166);
    margin: 25px;
    padding: 15px;
    border-radius: 15px;
    color: black;
}

.titulo {
    color: var(--cor-da-borda);
    font-size: 20px;
    text-align: center;
}

textarea {
    margin: 15px;
    border-radius: 10px;
    padding: 15px;
}

.bt-card {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

input[type="button"] {
    border: none;
    padding: 20px;
    margin: 10px;
    background-color: var(--cor-da-borda);
    color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
}

input[type="button"]:hover {
    color: var(--cor-da-borda);
    background-color: whitesmoke;
}

/*Footer*/
footer {
    border-top: solid 1px var(--cor-da-borda);
    padding: 35px;
    text-align: center;
}

.texto-rodape {
    margin: 15px;
    font-size: 15px;
}

.fab {
    padding: 10px;
    color: var(--cor-de-fundo);
    background: var(--cor-da-borda);
    border-radius: 20px;
    margin: 15px;
}

.fab:hover {
    color: var(--cor-da-borda);
    background-color: whitesmoke;
}

/*Media*/

@media screen and (max-width: 480px) {

    .cabecalho {
        padding: 30px;
        width: 350px;
    }

    .titulo {
        font-size: 14px;
    }

    .card {
        width: 250px;
    }

    .msg-codificada{
        width: 150px;
    }

    textarea {
        width: 150px;
        padding: 20px;
    }

    input[type="button"] {
        padding: 14px;
    }

    .bt-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        width: 350px;
    }

    .texto-rodape {
        font-size: 12px;
    }
}